# KITE PnL ASSIGNMENT

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Load the data
data = pd.read_csv('orders (1).csv')

# Filter only "MIS" products
df = data[data['Product'] == 'MIS']

# 1) Different types of charges for Individual trade

In [7]:
# Convert the 'Qty.' column to string type first, then perform the split operation

df['Qty.'] = df['Qty.'].astype(str).str.split('/').str[0].astype(int)

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\3136482302.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Qty.'] = df['Qty.'].astype(str).str.split('/').str[0].astype(int)

In [8]:
#df['Qty.'].astype(str): Converts all the values in the 'Qty.' column to strings.

#This ensures that even if there are non-string values, such as integers or NaN, they are first converted to strings before applying the .str operations.

#.str.split('/'): Now, split the string values by the / character.

#.str[0]: Extracts the first part of the split string 

#.astype(int): Converts the extracted string part to an integer.

df

              Time  Type  Instrument Product  Qty.  Avg. price     Status
1   16/12/21 15:08   BUY    ASHOKLEY     MIS  1000      125.70   COMPLETE
3   16/12/21 14:13   BUY  TATAMOTORS     MIS   250      490.55   COMPLETE
4   16/12/21 13:54   BUY    ASHOKLEY     MIS     0      127.10  CANCELLED
5   16/12/21 13:21  SELL  TATAMOTORS     MIS   250      492.10   COMPLETE
6   16/12/21 12:51   BUY  TATAMOTORS     MIS     0      490.80  CANCELLED
7   16/12/21 12:39  SELL    ASHOKLEY     MIS  1000      125.96   COMPLETE
8   16/12/21 12:29   BUY    ASHOKLEY     MIS  2000      125.70   COMPLETE
9   16/12/21 11:22  SELL    ASHOKLEY     MIS  2000      125.95   COMPLETE
10  16/12/21 10:47  SELL    ASHOKLEY     MIS     0      124.45  CANCELLED
11  16/12/21 10:46  SELL    ASHOKLEY     MIS  2000      125.95   COMPLETE
12  16/12/21 10:24   BUY    ASHOKLEY     MIS  1000      125.60   COMPLETE
13  16/12/21 10:23   BUY    ASHOKLEY     MIS  1000      125.65   COMPLETE

**(A) TURNOVER:-**

In [10]:
df['Turnover'] = df['Qty.'] * df['Avg. price']
df

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\3636926435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Turnover'] = df['Qty.'] * df['Avg. price']

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0

**(B) BROKERAGE-**

In [12]:
df['Brokerage'] = np.where(df['Turnover'] * 0.0003 < 20, df['Turnover'] * 0.0003, 20)
df                                                                            # Brokerage % - 0.03% or Rs. 20/executed order whichever is lower

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\1502835476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Brokerage'] = np.where(df['Turnover'] * 0.0003 < 20, df['Turnover'] * 0.0003, 20)

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0

**(C) STT/CTT-**

In [14]:
df["STT/CTT"] = np.where((df["Type"]=="SELL"),df["Turnover"]*0.00025,0) 
df                                                                       # STT/CTT column only for 'SELL' type and set 0 for 'BUY' type

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\985250039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["STT/CTT"] = np.where((df["Type"]=="SELL"),df["Turnover"]*0.00025,0)

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage,STT/CTT
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0,0.00000
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0,0.00000
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0,0.00000
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0,30.75625
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0,0.00000
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0,31.49000
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0,0.00000
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.00000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0,0.00000
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0,0.00000

**(D) TRANSACTION CHARGES-**

In [16]:
df["Transaction_charges"] = df["Turnover"]* 0.0000297
df                                                        # using 'NSE' VALUES for transaction charges

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\4149046658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Transaction_charges"] = df["Turnover"]* 0.0000297

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage,STT/CTT,Transaction_charges
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0,0.00000,3.733290
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0,0.00000,3.642334
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0,0.00000,0.000000
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0,30.75625,3.653843
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0,0.00000,0.000000
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0,31.49000,3.741012
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0,0.00000,7.466580
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.00000,0.000000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0,0.00000,3.730320
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0,0.00000,3.731805

**(E) SEBI-**

In [18]:
df["Sebi"] = df['Turnover']*10/10000000
df                                      #₹10 / crore on 'Turnover'

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\2796645078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sebi"] = df['Turnover']*10/10000000

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage,STT/CTT,Transaction_charges,Sebi
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0,0.00000,3.733290,0.125700
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0,0.00000,3.642334,0.122637
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0,30.75625,3.653843,0.123025
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0,31.49000,3.741012,0.125960
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0,0.00000,7.466580,0.251400
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0,0.00000,3.730320,0.125600
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0,0.00000,3.731805,0.125650

**(F) GST-**

In [20]:
df['GST'] = (df["Brokerage"]+df["Transaction_charges"]+df['Sebi'])*0.18
df

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\1869000322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GST'] = (df["Brokerage"]+df["Transaction_charges"]+df['Sebi'])*0.18

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage,STT/CTT,Transaction_charges,Sebi,GST
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0,0.00000,3.733290,0.125700,4.294618
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0,0.00000,3.642334,0.122637,4.277695
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0,30.75625,3.653843,0.123025,4.279836
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0,31.49000,3.741012,0.125960,4.296055
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0,0.00000,7.466580,0.251400,4.989236
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900,4.991999
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900,4.991999
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0,0.00000,3.730320,0.125600,4.294066
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0,0.00000,3.731805,0.125650,4.294342

**(G) STAMP CHARGES-**

In [22]:
df["Stamp_Charges"] = np.where((df["Type"]=="BUY"),df["Turnover"]*0.00003,0)
df                                                        #'stamp charges' - 0.003% or ₹300 / crore on 'BUY' side and 0 for 'SELL' side

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\2812116715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Stamp_Charges"] = np.where((df["Type"]=="BUY"),df["Turnover"]*0.00003,0)

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage,STT/CTT,Transaction_charges,Sebi,GST,Stamp_Charges
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0,0.00000,3.733290,0.125700,4.294618,3.771000
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0,0.00000,3.642334,0.122637,4.277695,3.679125
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0,30.75625,3.653843,0.123025,4.279836,0.000000
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0,31.49000,3.741012,0.125960,4.296055,0.000000
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0,0.00000,7.466580,0.251400,4.989236,7.542000
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900,4.991999,0.000000
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900,4.991999,0.000000
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0,0.00000,3.730320,0.125600,4.294066,3.768000
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0,0.00000,3.731805,0.125650,4.294342,3.769500

**(H) TOTAL CHARGES-**

In [60]:
df['Total_Charges'] = df["Brokerage"]+df['STT/CTT']+df['Transaction_charges']+df['Sebi']+df['GST']+df['Stamp_Charges']
df

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\2037379670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Charges'] = df["Brokerage"]+df['STT/CTT']+df['Transaction_charges']+df['Sebi']+df['GST']+df['Stamp_Charges']

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,Turnover,Brokerage,STT/CTT,Transaction_charges,Sebi,GST,Stamp_Charges,Total_Charges
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000,125.70,COMPLETE,125700.0,20.0,0.00000,3.733290,0.125700,4.294618,3.771000,31.924608
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250,490.55,COMPLETE,122637.5,20.0,0.00000,3.642334,0.122637,4.277695,3.679125,31.721791
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0,127.10,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250,492.10,COMPLETE,123025.0,20.0,30.75625,3.653843,0.123025,4.279836,0.000000,58.812954
6,16/12/21 12:51,BUY,TATAMOTORS,MIS,0,490.80,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000,125.96,COMPLETE,125960.0,20.0,31.49000,3.741012,0.125960,4.296055,0.000000,59.653027
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000,125.70,COMPLETE,251400.0,20.0,0.00000,7.466580,0.251400,4.989236,7.542000,40.249216
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900,4.991999,0.000000,95.700329
10,16/12/21 10:47,SELL,ASHOKLEY,MIS,0,124.45,CANCELLED,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000,125.95,COMPLETE,251900.0,20.0,62.97500,7.481430,0.251900,4.991999,0.000000,95.700329
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000,125.60,COMPLETE,125600.0,20.0,0.00000,3.730320,0.125600,4.294066,3.768000,31.917986
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000,125.65,COMPLETE,125650.0,20.0,0.00000,3.731805,0.125650,4.294342,3.769500,31.921297

# 2) Stock wise and Type wise analysis with weighted Avg. price & calculated charges

In [26]:
# Weighted Average Price = sum of (Qty×Avg. Price)/sum of Qty:-
def weighted_avg_price(group):
    total_qty = group['Qty.'].sum()
    weighted_avg = (group['Qty.'] * group['Avg. price']).sum() / total_qty
    return weighted_avg

In [27]:
# Group by 'Instrument' and 'Type' and sum other columns
stock_type_wise = df.groupby(['Instrument', 'Type'])[['Qty.','Turnover','Brokerage','STT/CTT','Transaction_charges','Sebi','GST','Stamp_Charges','Total_Charges']].sum()

# Apply the custom function for weighted average price
stock_type_wise['Weighted_Avg_Price'] = df.groupby(['Instrument', 'Type']).apply(weighted_avg_price)

# Reset index for easier view
stock_type_wise = stock_type_wise.reset_index()

# Print the result
stock_type_wise

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\2900490616.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stock_type_wise['Weighted_Avg_Price'] = df.groupby(['Instrument', 'Type']).apply(weighted_avg_price)

,Instrument,Type,Qty.,Turnover,Brokerage,STT/CTT,Transaction_charges,Sebi,GST,Stamp_Charges,Total_Charges,Weighted_Avg_Price
0,ASHOKLEY,BUY,5000,628350.0,80.0,0.00000,18.661995,0.628350,17.872262,18.850500,136.013107,125.670
1,ASHOKLEY,SELL,5000,629760.0,60.0,157.44000,18.703872,0.629760,14.280054,0.000000,251.053686,125.952
2,TATAMOTORS,BUY,250,122637.5,20.0,0.00000,3.642334,0.122637,4.277695,3.679125,31.721791,490.550
3,TATAMOTORS,SELL,250,123025.0,20.0,30.75625,3.653843,0.123025,4.279836,0.000000,58.812954,492.100

# 3) Overall Summary of each Stocks

In [29]:
# 1. Calculate Gross PnL for each instrument (SELL turnover - BUY turnover)

def calculate_gross_pnl(df):
    sell_turnover = df[df['Type'] == 'SELL']['Turnover'].sum()
    buy_turnover = df[df['Type'] == 'BUY']['Turnover'].sum()
    return sell_turnover - buy_turnover

In [30]:
# Applying  the Gross PnL function to the grouped data by Instrument

gross_pnl = df.groupby('Instrument').apply(calculate_gross_pnl).reset_index(name='Gross PnL')

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\2335055240.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gross_pnl = df.groupby('Instrument').apply(calculate_gross_pnl).reset_index(name='Gross PnL')

In [31]:
# 2. Calculate Total Charges for each instrument

def calculate_total_charges(df):
    return df['Total_Charges'].sum()

total_charges = df.groupby('Instrument').apply(calculate_total_charges).reset_index(name='Total_Charges')

C:\Users\hp\AppData\Local\Temp\ipykernel_23036\3186928684.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  total_charges = df.groupby('Instrument').apply(calculate_total_charges).reset_index(name='Total_Charges')

In [32]:
# 3. Merge Gross PnL and Total Charges into a summary

summary = pd.merge(gross_pnl, total_charges, on='Instrument')

In [33]:
# 4. Calculate Net PnL (Gross PnL - Total Charges)

summary['Net PnL'] = summary['Gross PnL'] - summary['Total_Charges']

# 5. Calculate % Charges on Gross PnL

summary['% Charges on Gross PnL'] = (summary['Total_Charges'] / summary['Gross PnL']) * 100

# converting it to dataframe:

summary_data = pd.DataFrame(summary).round()

In [34]:
# Display the final summary
summary_data

   Instrument  Gross PnL  Total_Charges  Net PnL  % Charges on Gross PnL
0    ASHOKLEY     1410.0          387.0   1023.0                    27.0
1  TATAMOTORS      388.0           91.0    297.0                    23.0

In [35]:
with pd.ExcelWriter('stock_data.xlsx') as excel:
    df.to_excel(excel,sheet_name='Types of charges',index=False),
    stock_type_wise.to_excel(excel,sheet_name='Stock & Type wise analysis',index=False)
    summary_data.to_excel(excel,sheet_name='Overall Summary',index=False)